.product-list {
    display: flex;
    list-style: none; 
    margin-top: 50px;
  }
  
  .product-item {   
    align-items: center;
    margin-bottom: 20px;
    padding-right: 100px;
  }
  
  .product-image {
    max-width: 100px;
    margin-right: 10px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-list li {
    margin-bottom: 20px;
  }
  
  .cart-list img {
    max-width: 100px;
  }
  .cart-link {
    margin-top: -60px;
    width: 200px;
    font-size: 30px; 
    float: right;
    margin-right: 70%;
    text-decoration: none;
    color: black;
    border: solid;
    text-align: center;
  }
  .cart-link:hover{
    color: blue;
  }
  .product-link{
    margin-top: -60px;
    width: 300px;
    font-size: 30px; 
    float: right;
    margin-right: 70%;
    text-decoration: none;
    color: black;
    border: solid;
    text-align: center;
  }
  .product-link:hover{
    color: blue;
  }
